.card {
  height: 236px;
  width: 135px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  position: relative;
}

.card .card-img {
  box-sizing: border-box;
  height: auto;
  width: 125px;
}

/* .card:hover {
  border-color: #C89B3C;
} */


.card p{
  position: absolute;
  bottom: 10px;
  left: 40px;
}

.card .border{
  position: absolute;
  height: 270px;
  bottom: -10px;
  left: -20px;
}
