@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("../assets/fonts/BeaufortforLOL-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpiegelSans-Regular";
  src: url("../assets/fonts/SpiegelSans-5Regular_TRIAL.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h3 {
  font-family: "BeaufortforLOL-Bold", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 23px;
}
p {
  font-family: "SpiegelSans-Regular", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "SpiegelSans-Regular", sans-serif;
  color: white;
  /* background: url("src/assets/background/loadingScreen.png");
  background-size: 100% 100%;  */
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  position: relative;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 1; /* Ensure this is above the video */
  display: flex;
  flex-direction: column;
  height: 93vh;
  transition: filter 0.3s ease; /* Smooth transition for blur effect */
}

.game-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1750px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
  text-shadow: 1px 1px 0 #c89b3c, -1px -1px 0 #c89b3c, 1px -1px 0 #c89b3c,
    -1px 1px 0 #c89b3c; /* Adjust these values to get a thicker or thinner border */
}

.header-container img {
  height: 40px;
  width: auto;
}

.title {
  display: flex;
  align-items: center;
}

.footer-container{
  display: flex;
  margin-left: 6%;
  gap: 25px;
}

